*{
margin:0px;
padding:0px;
}
.course_container{
min-height:400px;
}
.course_top_container{
min-height:220px;
background:rgba(0,0,0,.13);
font-family:'SourceSansProLight';
}
.course_image_container{
float:left;
width:22%;
}
.course_text_container{
float:left;
width:42%;
font-family:'SourceSansProLight';
font-size:18px;
}
.course_price_container{
float:left;
width:22%;
}