*{
margin:0px;
padding:0px;
}
@font-face{
src:url('SourceSansPro-Light.ttf');
font-family:'SourceSansProLight';
}
@font-face{
src:url('SourceSansPro-Regular.ttf');
font-family:'SourceSansProRegular';
}
@font-face{
src:url('Lato-Lig.ttf');
font-family:'LatoLight';
}
@font-face{
src:url('Lato-Bol.ttf');
font-family:'LatoBold';
}
@font-face{
src:url('fontello.ttf');
font-family:'fontello';
}
@font-face{
src:url('MuseoSansBold.ttf');
font-family:'MuseoSansBold';
}
@font-face{
src:url('Montserrat-Regular.ttf');
font-family:'MontserratRegular';
}
@font-face{
src:url('Montserrat-Bold.ttf');
font-family:'MontserratBold';
}
html,body{
height:100%;
width:100%;
overflow-x:hidden;
}
.container{
height:100%;
width:100%;
min-height:400px;
}
.slide{
height:100%;
width:100%;
min-height:600px;
background-size:cover;
background-position:center center;
background-attachment:fixed;
}
#slide1{
background:url('reading1.jpg');
background-size:cover;
background-position:center center;
background-attachment:fixed;
}
#slide2{
background-size:cover;
background-position:center center;
background-attachment:fixed;
}

.slide_cover{
height:100%;
width:100%;
z-index:10001;
position:relative;
background:rgba(129,206,203,.83);
}
.header{
font-family:'SourceSansProLight';
font-size:14px;
color:#fff;
height:90px;
width:100%;
}
.header_logo{
float:left;
width:70%;
height:100%;
overflow:visible;
}
.header_login{
float:left;
width:29%;
height:100%;
}
.logo_container{
padding:20px 63px;
overflow:hidden;
}
.header_logo .logo_container img{
height:44px;

}
.header_login ul{
list-style-type:none;
}
.header_login_list_item{
font-family:'MuseoSansBold';
font-size:18px;
font-weight:bold;
float:left;
display:block;
padding:33px 17px;
letter-spacing:4px;
cursor:pointer;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.header_login_list_item:hover{
color:rgba(255,255,255,.33);
}
.slide_middle_container{
margin-top:130px;
position:relative;
width:100%;
min-height:130px;
}
.slide_middle_buttons_container{
width:100%;
text-align:center;
margin-bottom:22px;
}
.slide_middle_button{
background:#f27e61;
border:none;
border-bottom:2px solid rgba(0,0,0,.13);
color:#fff;
font-size:16px;
font-family:'LatoLight';
height:48px;
width:250px;
line-height:48px;
text-align:center;
padding-left:42px;
cursor:pointer;
border-radius:2px;
letter-spacing:2px;
outline:none;
position:relative;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-ms-transition:all .2s ease;
}
.slide_middle_button:hover{
background:rgba(242,126,97,.9);
}
.slide_middle_button:before{
font-family:'fontello';
font-size:14px;
color:#fff;
position:absolute;
top:0px;
left:28px;
}
.slide_start_learning_button{
margin-right:18px;
}
.slide_start_learning_button:before{
content:'\e80e';
}
.slide_start_teaching_button:before{
content:'\e80c';
}
.slide_middle_search_container{
width:100%;
text-align:center;
position:relative;
}
.slide_middle_search_input{
padding:13px 19px;
width:330px;
font-family:'LatoLight';
color:rgba(0,0,0,.83);
font-size:17px;
outline:none;
border:none;
border-bottom:1px solid #2c86c2;
position:relative;
}
.slide_middle_search_icon{
position:absolute;
top:0px;
left:0px;
}
.slide_middle_search_icon:before{
position:absolute;
top:16px;
left:825px;
font-size:16px;
content:'\e80a';
color:rgba(0,0,0,.83);
font-family:'fontello';
cursor:pointer;
}
.slide_middle_ball_container{
position:absolute;
top:84%;
height:10%;
width:100%;
text-align:center;
padding:2% 0%;
}
.slide_middle_ball{
height:62px;
width:62px;
border-radius:50%;
border:1px solid #358cce;
background:white;
margin-left:47%;
position:relative;
cursor:pointer;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.slide_middle_ball:hover{
background:#358cce;
color:#fff;
}
.slide_middle_ball:hover:before{
color:#fff;
font-size:18px;
top:23px;
left:22px;
}
.slide_middle_ball:before{
font-family:'fontello';
color:#358cce;
font-size:16px;
position:absolute;
top:25px;
left:23px;
content:'\e807';

}
.about_us_heading{
font-family:'SourceSansProRegular';
font-size:32px;
padding:33px 0px;
width:100%;
text-align:center;
}
.about_us_body{
padding:29px 0px;
font-family:'SourceSansProLight';
font-size:23px;
color:rgba(0,0,0,.83);
width:100%;
text-align:center;
line-height:39px;
opacity:0;


-webkit-transform:translateY(110px);
-moz-transform:translateY(110px);
-o-transform:translateY(110px);
-ms-transform:translateY(110px);

-webkit-transition:all .4s ease;
-moz-transition:all .4s ease;
-o-transition:all .4s ease;
-ms-transition:all .4s ease;
}
.about_us_body.show_body{
opacity:1;

-webkit-transform:translateY(0px);
-moz-transform:translateY(0px);
-o-transform:translateY(0px);
-ms-transform:translateY(0px);

-webkit-transition:all .4s ease;
-moz-transition:all .4s ease;
-o-transition:all .4s ease;
-ms-transition:all .4s ease;
}
.about_us_body_inner{
width:78%;
text-align:center;
margin-left:11%;
padding-bottom:52px;
}


.footer{
width:100%;
height:90px;
font-family:'SourceSansProRegular';
font-size:18px;
color:#fff;
background:#383838;
overflow:hidden;
}
.footer_left{
float:left;
width:47%;
height:100%:
}
.footer_right{
float:left;
width:51%;
height:100%;
}
.footer_left img{
height:32px;
width:80px;
margin:0px 14px;
margin-top:4px;
}
.footer_copy{
margin-bottom:13px;
}
.footer_right ul{
list-style-type:none;
}
.footer_right_list_item{
float:left;
display:block;
padding-top:3px;
}
.footer_right_list_item a{
color:#fff;
text-decoration:none;
font-family:'SourceSansProRegular';
font-size:17px;
color:#fff;
height:90px;
line-height:90px;
padding:0px 16px;
}
.footer_clear{
height:0px;
width:0px;
clear:both;
}
.footer_left_image{
height:90px;
line-height:90px;
overflow:hidden;
position:relative;
padding-left:21px;
padding-top:3px;
}
.footer_left_image img{
height:45px;
position:relative;
top:20px;
margin-right:13px;
}
.ufaber_lightbox{
position:fixed;
height:100%;
width:100%;
top:0px;
left:0px;
background:rgba(0,0,0,.42);
opacity:0;
z-index:-4;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-ms-transition:all .2s ease;
}
.ufaber_lightbox_modal{
background:#fff;
position:absolute;
top:6%;
height:73%;
width:47%;
left:22%;
padding:3%;
min-height:220px;
}
.ufaber_lightbox_signup_login_link{
color:#ee7c4a;
text-decoration:none;
}
.ufaber_lightbox.open{
opacity:1;
z-index:100001;
}
.ufaber_lightbox_facebook{
padding-bottom:19px;
width:100%;
text-align:center;
}
.ufaber_lightbox_facebook_button{
background:#3b5998;
color:#fff;
font-family:'SourceSansProLight';
font-size:16px;
width:190px;
height:52px;
line-height:52px;
border:none;
cursor:pointer;
}
.ufaber_lightbox_lower{
width:100%;
text-align:center;
font-family:'SourceSansProLight';
}
.ufaber_lightbox_lower_left{
float:left;
width:45%;
padding:14px;
font-family:'SourceSansProLight';
font-size:25px;
padding:65px 0px;
}
.ufaber_lightbox_lower_right{
float:left;
width:45%;
border-left:1px solid rgba(0,0,0,.23);
}
.orange_color{
color:#ee7c4a;
}
.ufaber_login_submit{
background:#ee7c4a;
font-family:'SourceSansProLight';
font-size:15px;
border-radius:2px;
border:none;
width:140px;
padding:8px 0px;
color:#fff;
cursor:pointer;
margin-top:8px;
}
.ufaber_lightbox_lower ul{
list-style-type:none;
}
.ufaber_lightbox_lower ul li{
margin-top:12px;
}
.ufaber_lightbox_lower input[type="text"], .ufaber_lightbox_lower input[type="password"]{
padding:7px;
font-family:'SourceSansProLight';
font-size:15px;
width:170px;
border:1px solid rgba(0,0,0,.23);

}
.ufaber_lightbox_login{
width:100%;
text-align:center;
}
.ufaber_lightbox_signup_head{
font-size:24px;
}
.ufaber_lightbox_login_options{
width:100%;
text-align:center;
margin:7px 0px;
}
.ufaber_lightbox_login_options div{
margin-top:7px;
}
.ufaber_login_forgot{
width:100%;
text-align:center;
}
.ufaber_login_forgot a{
color:rgba(0,0,0,.73);
margin:6px 0px;
}
.ufaber_login_signup_link{
color:#ee7c4a;
font-size:16px;
}
.ufaber_lightbox_or{
width:100%;
text-align:center;
font-family:'SourceSansProLight';
font-size:15px;
margin-bottom:14px;
}
.ufaber_signup_submit{
background:#ee7c4a;
font-family:'SourceSansProLight';
font-size:16px;
color:#fff;
padding:9px 0px;
width:140px;
border:none;
margin:8px 0px;
cursor:pointer;
margin-top:12px;
}
.ufaber_already_account{
padding:8px 0px;
}
.slide_text_container{
width:100%;
text-align:center;
}
.slide_bold_text{
font-family:'MontserratBold';
font-size:35px;
color:#fff;
width:100%;
text-align:center;
}
.slide_lower_text{
font-family:'MontserratRegular';
font-size:20px;
padding:14px 0px;
color:#fff;
width:60%;
margin-left:20%;
padding-bottom:33px;
}
.ufaber_footer{
padding:14px;
overflow:hidden;
background:#666;
clear:both;
padding-bottom:44px;
padding-top:24px;
min-height:140px;
}
.ufaber_footer_left{
float:left;
width:32%;
overflow:hidden;
height:100%;
}
.ufaber_footer_right{
float:left;
width:65%;
overflow:hidden;
height:100%;
}
.ufaber_footer_inner{
padding:42px;
font-family:'SourceSansProRegular';
font-size:27px;
color:#fff;
}
.ufaber_footer_right_inner{
width:210px;
float:left;
font-family:'SourceSansProLight';
font-size:18px;
color:#fff;
}
.footer_right_inner_head{
font-size:26px;
font-family:'SourceSansProLight';
padding:8px 0px;
color:rgba(255,255,255,.63);
}
.footer_right_inner_body{
padding-top:9px;
}
.footer_right_inner_body ul li{
padding-bottom:6px;
}
.form_field{
padding:5px;
font-family:'SourceSansProLight';
font-size:14px;
border:none;
margin-top:8px;
}
.form_submit.button{
background:#f27e61;
font-family:'SourceSansProLight';
font-size:13px;
color:#fff;
padding:8px 19px;
border:none;
cursor:pointer;
margin-top:16px;
}
.footer_lower_single{
float:left;
width:52px;
margin-top:17px;
margin-left:15px;
}
.footer_lower_single img{
height:42px;
width:42px;
border-radius:50%;
cursor:pointer;
}

.slide2_what_students_are_saying{
background:rgba(0,0,0,.83);
color:#fff;
height:50%;
overflow:hidden;
}
.students_head{
padding:16px;
font-size:32px;
font-family:'SourceSansProRegular';
width:100%;
text-align:center;
}
.students_body_message{
width:60%;
margin-left:20%;
min-height:120px;
padding:13px 0px;
padding-top:3px;
}
.students_body_photos{
clear:both;
}
.body_message_image img{
height:140px;
width:142px;
border-radius:50%;
}
.body_message_image{
float:left;
width:40%;
overflow:hidden;
}
.body_message_message{
float:left;
width:56%;
overflow:hidden;
font-size:19px;
font-family:'SourceSansProLight';
}
.body_message_name{
padding-top:11px;
}
.students_body_photos{
min-height:50px;
padding:33px 0px;
width:40%;
margin-left:30%;
}
.student_body_photo{
float:left;
cursor:pointer;
}
.student_body_clear{
clear:both;
}
.student_body_photo img{
height:54px;
width:54px;
border-radius:50%;
margin-right:13px;

opacity:0;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.student_body_photo img.show{
opacity:1;
}
.students_body_photos_clear{
height:0px;
width:0px;
clear:both;
}
.student_image1{
-webkit-transition-delay:.2s;
-moz-transition-delay:.2s;
-ms-transition-delay:.2s;
-o-transition-delay:.2s;
}
.student_image2{
-webkit-transition-delay:.4s;
-moz-transition-delay:.4s;
-ms-transition-delay:.4s;
-o-transition-delay:.4s;
}
.student_image3{
-webkit-transition-delay:.6s;
-moz-transition-delay:.6s;
-ms-transition-delay:.6s;
-o-transition-delay:.6s;
}
.student_image4{
-webkit-transition-delay:.8s;
-moz-transition-delay:.8s;
-ms-transition-delay:.8s;
-o-transition-delay:.8s;
}
.student_image5{
-webkit-transition-delay:1s;
-moz-transition-delay:1s;
-ms-transition-delay:1s;
-o-transition-delay:1s;
}
.student_image6{
-webkit-transition-delay:1.2s;
-moz-transition-delay:1.2s;
-ms-transition-delay:1.2s;
-o-transition-delay:1.2s;
}
.student_image7{
-webkit-transition-delay:1.4s;
-moz-transition-delay:1.4s;
-ms-transition-delay:1.4s;
-o-transition-delay:1.4s;
}
.student_image8{
-webkit-transition-delay:1.6s;
-moz-transition-delay:1.6s;
-ms-transition-delay:1.6s;
-o-transition-delay:1.6s;
}
.body_message_message_inner{
padding:47px 32px;
}
.students_learn{
background:rgba(0,0,0,.09);
font-family:'SourceSansProLight';
min-height:300px;
overflow:hidden;
padding:13px 0px;
height:50%;
overflow:hidden;
width:100%;
}
.students_learn_left{
font-size:30px;
color:rgba(0,0,0,.83);
overflow:hidden;
float:left;
width:32%;
overflow:hidden;
height:100%;
line-height:40px;
}
.students_learn_right{
float:left;
width:68%;
overflow:hidden;
height:100%;
}
.learn_right_inner{
padding:26px 36px;
min-height:220px;
}
.students_left_inner{
padding:112px 0px;
padding-left:112px;
padding-right:32px;
}
.students_right_item_head{
font-size:21px;
color:rgba(0,0,0,.43);
padding-bottom:16px;

}
.students_right_item{
float:left;
width:266px;
padding-right:14px;
padding-bottom:15px;
}
.students_right_item ul{
list-style-type:none;
}
.students_right_item_list{
font-size:19px;
padding-bottom:13px;
cursor:pointer;
}
.footer_right_inner_body ul{
list-style-type:none;
}
.footer_inner_right_body ul li a{
font-size:13px;
}

@media screen and (min-width:320px) and (max-width:480px){

.header_logo{
width:25%;

}
.header_login{
width:74%;
float:right;
margin-left:3px
}

.header_login_list_item{
padding:0px;
padding-top:20px;
padding-bottom:20px;
padding-right:5px;
font-size:11px;
}

.logo_container{
padding:18px 1px
}

.header_logo .logo_container img{
height:20px
}

.slide_lower_text{
font-size:14px
}

.slide_bold_text{
font-size:23px
}

.slide_middle_button{
font-size:12px;
width:220px;
height:40px
}

.students_head{
font-size:23px;
}

.students_body_message{
width:90%;
margin-left:10%;
}

.students_left_inner{
padding-left:35px;

}

.body_message_image img{
width:140px;
height:142px;

}
.body_message_message{
font-size:15px
}

.body_message_message_inner{
padding:25px 12px
}

.students_body_photos{
padding:0px 0px;
width:60%;
margin-left:20%;
padding-bottom:10px
}

.students_learn_left{
font-size:21px;
width:20%;
line-height:35px
}

.students_learn_right{
width:77%;
margin-left:10px
}

.students_left_inner{
padding-left:20px;
padding-right:0px
}

.students_right_item{
width:31%;
padding-right:7px
}

.learn_right_inner{
padding:26px 15px
}

#right_last{
margin-left:1.9px
}

.students_right_item_list{
font-size:14.5px;
}

.students_right_item_head{
font-size:17px
}

#right_first_heading{
margin-right:-3px
}
#right_middle_heading{
margin-left:0px
}
#right_last_heading{
}

.ufaber_footer_left{
width:33%;
}

.ufaber_footer_inner{
font-size:19px;
padding-top:47px;
padding-left:8px
}

.footer_lower_single img{
width:25px;
height:25px
}
.footer_lower_single{
width:27px;
margin-left:0px;
margin-right:4px
}

.ufaber_footer_right{
width:65%
}

.ufaber_footer_right_inner{
width:50%;
font-size:14.5px
}

.footer_right_inner_head{
font-size:19px
}


}


@media screen and (min-width:480px) and (max-width:640px){

.header_logo{
width:40%;

}
.header_login{
width:60%;
float:right;
margin-right:-5%
}

.header_login_list_item{
padding:20px 8px;;
font-size:15px 
}

.logo_container{
padding:18px 30px
}

.header_logo .logo_container img{
height:25px
}

.slide_lower_text{
font-size:14px
}

.slide_bold_text{
font-size:23px
}

.slide_middle_button{
font-size:12px;
width:220px;
height:40px
}

.students_head{
font-size:23px;
}

.students_body_message{
width:90%;
margin-left:10%;
}

.students_left_inner{
padding-left:35px;

}

.body_message_image img{
width:140px;
height:142px;

}
.body_message_message{
font-size:15px
}

.body_message_message_inner{
padding:25px 12px
}

.students_body_photos{
padding:0px 0px;
width:60%;
margin-left:20%;
padding-bottom:10px
}

.students_learn_left{
font-size:21px;
width:20%;
line-height:35px
}

.students_learn_right{
width:77%;
margin-left:10px
}

.students_left_inner{
padding-left:20px;
padding-right:0px
}

.students_right_item{
width:31%;
padding-right:7px
}

.learn_right_inner{
padding:26px 15px
}

#right_last{
margin-left:1.9px
}

.students_right_item_list{
font-size:14.5px;
}

.students_right_item_head{
font-size:17px
}

#right_first_heading{
margin-right:-3px
}
#right_middle_heading{
margin-left:0px
}
#right_last_heading{
}

.ufaber_footer_left{
width:33%;
}

.ufaber_footer_inner{
font-size:19px;
padding-top:47px;
padding-left:8px
}

.footer_lower_single img{
width:25px;
height:25px
}
.footer_lower_single{
width:27px;
margin-left:0px;
margin-right:4px
}

.ufaber_footer_right{
width:65%
}

.ufaber_footer_right_inner{
width:50%;
font-size:14.5px
}

.footer_right_inner_head{
font-size:19px
}


}
@media screen and (min-width:640px) and (max-width:800px){

.header_logo{
width:45%;

}
.header_login{
width:55%;
float:right;
margin-right:-7%
}

.header_login_list_item{
padding:28px 12px;;
font-size:17px 
}

.logo_container{
padding:20px 50px
}

.header_logo .logo_container img{
height:32px
}

.slide_lower_text{
font-size:15px
}

.slide_bold_text{
font-size:24px
}

.slide_middle_button{
font-size:12px;
width:235px
}

.students_head{
font-size:23px;
}

.students_body_message{
width:90%;
margin-left:10%;
}

.students_left_inner{
padding-left:35px;

}

.body_message_image img{
width:192px;
height:202px;

}
.body_message_message{
font-size:16px
}

.students_learn_left{
font-size:22px;
width:22%
}

.students_learn_right{
width:76%;
margin-left:1%
}

.students_right_item{
width:31%;
padding-right:8px
}

#right_last{
margin-left:-1px
}

.students_right_item_list{
font-size:16px
}

.students_right_item_head{
font-size:19px
}

.ufaber_footer_left{
width:24%;
}

.ufaber_footer_inner{
font-size:20px;
padding-top:47px;
padding-left:8px
}

.footer_lower_single img{
width:25px;
height:25px
}
.footer_lower_single{
width:27px;
margin-left:0px;
margin-right:4px
}

.ufaber_footer_right{
width:74%
}

.ufaber_footer_right_inner{
width:25%;
font-size:15px
}

.footer_right_inner_head{
font-size:20px
}

}
@media screen and (min-width:800px) and (max-width:960px){

.header_logo{
width:45%;

}
.header_login{
width:55%;
float:right;
margin-right:-10%
}

.header_login_list_item{
padding:28px 16px;;
font-size:17px 
}

.logo_container{
padding:20px 50px
}

.header_logo .logo_container img{
height:35px
}

.slide_lower_text{
font-size:16px
}

.slide_bold_text{
font-size:27px
}

.slide_middle_button{
font-size:13px;
width:235px
}

.students_head{
font-size:25px;
}

.students_body_message{
width:90%;
margin-left:10%;
}

.body_message_image img{
width:192px;
height:202px;
}
.body_message_message{
font-size:16px
}

.students_learn_left{
font-size:25px
}


.students_right_item{
width:31%;
padding-right:0px
}

#right_last{
margin-left:-1px
}

.students_right_item_list{
font-size:16px
}

.students_right_item_head{
font-size:20px
}

.ufaber_footer_left{
width:25%;
}

.ufaber_footer_inner{
font-size:22px;
padding-top:45px
}

.footer_lower_single img{
width:28px;
height:28px
}
.footer_lower_single{
width:30px;
margin-left:0px;
margin-right:5px
}

.ufaber_footer_right{
width:74%
}

.ufaber_footer_right_inner{
width:25%;
font-size:16px
}

.footer_right_inner_head{
font-size:22px
}

}


@media screen and (min-width:960px) and (max-width:1120px){
.header_logo{
width:55%;

}
.header_login{
width:45%;
float:right;
margin-right:-8%
}

.logo_container{
padding:20px 50px
}

.header_logo .logo_container img{
height:40px
}

.slide_lower_text{
font-size:17px
}

.slide_bold_text{
font-size:30px
}

.slide_middle_button{
font-size:14px;
height:45px;
width:240px
}

.students_head{
font-size:28px;
}
.body_message_image img{
width:180px;
height:190px;
}
.body_message_message{
font-size:17px
}

.students_right_item{
width:31%;
}

#right_last{
margin-left:-2px
}

.students_right_item_list{
font-size:18px
}

.ufaber_footer_left{
width:24%;
}

.ufaber_footer_inner{
font-size:24px;
}

.footer_lower_single img{
width:33px;
height:33px
}
.footer_lower_single{
width:35px;
margin-left:0px;
margin-right:10px
}

.ufaber_footer_right{
width:75%
}

.ufaber_footer_right_inner{
width:25%;
font-size:17px
}
}



@media screen and (min-width:240px) and (max-width:320px){

.header_logo{
width:100%;
height:40px;
padding-left:1px
}
.header_login{
width:100%;
float:left;
margin-left:14%
}

.header_login_list_item{
padding:0px;
padding-top:30px;
padding-bottom:10px;
padding-right:5px;
font-size:12px 
}

.logo_container{
padding:22px 18px
}

.header_logo .logo_container img{
height:25px
}

.slide_lower_text{
font-size:12px
}

.slide_middle_ball{
margin-left:40%;
height:31px;
width:31px;

}

.slide_middle_ball:before{
font-size:12px;
top:10px;
left:0px;
height:31px;
width:31px;
}

.slide_middle_ball:hover:before{
font-size:12px;
top:10px;
left:0px
}

.slide_middle_container{
margin-top:60px;
}

.slide{
min-height:450px
}

.slide_bold_text{
font-size:20px
}

.slide_middle_button{
font-size:11px;
width:200px;
height:40px;
line-height:40px
}

.students_head{
font-size:20px;
padding-top:16px;
padding-left:1px
}

.students_body_message{
width:90%;
margin-left:8%;
}

.students_left_inner{
padding-left:30px;

}

.body_message_image img{
width:140px;
height:142px;

}
.body_message_message{
font-size:14px
}

.body_message_message_inner{
padding:25px 10px
}

.students_body_photos{
padding:0px 0px;
width:90%;
margin-left:13%;
padding-bottom:10px
}

.students_learn_left{
font-size:21px;
width:100%;
line-height:1px;
padding-top:10px;

}

.students_learn_right{
width:100%;
margin-left:5px
}

.students_left_inner{
padding-left:20px;
padding-right:0px;
padding-top:10px;
padding-bottom:10px
}

.students_right_item{
width:32%;
padding-right:1px;
float:left
}

.learn_right_inner{
padding:26px 1px
}

#right_last{
margin-left:1.9px
}

.students_right_item_list{
font-size:13.5px;
}

.students_right_item_head{
font-size:15px
}

#right_first_heading{
margin-left:-2px
}
#right_middle_heading{
margin-left:1px
}
#right_last_heading{
margin-left:5px
}

.ufaber_footer_left{
width:100%;
min-height:100px;
margin-left:10%
}

.ufaber_footer_inner{
font-size:21px;
padding-top:30px;
padding-left:8px
}

.footer_lower_single img{
width:35px;
height:35px
}
.footer_lower_single{
width:37px;
margin-left:0px;
margin-right:14px
}

.ufaber_footer_right{
width:65%;
display:none
}

.ufaber_footer_right_inner{
width:50%;
font-size:14.5px
}

.footer_right_inner_head{
font-size:19px
}

}

@media screen and (min-width:320px) and (max-width:480px){

.header_logo{
width:30%;
height:70px
}
.header_login{
width:64%;
float:right;
margin-left:3px
}

.header_login_list_item{
padding:0px;
padding-top:20px;
padding-bottom:20px;
padding-right:5px;
font-size:11px 
}

.logo_container{
padding:18px 1px
}

.header_logo .logo_container img{
height:20px
}

.slide_lower_text{
font-size:13px
}

.slide_middle_ball{
margin-left:40%;
height:31px;
width:31px;

}

.slide_middle_ball:before{
font-size:12px;
top:10px;
left:0px;
height:31px;
width:31px;
}

.slide_middle_ball:hover:before{
font-size:12px;
top:10px;
left:0px
}

.slide_middle_container{
margin-top:60px;
}

.slide{
min-height:450px
}

.slide_bold_text{
font-size:22px
}

.slide_middle_button{
font-size:11px;
width:200px;
height:40px;
line-height:40px
}

.students_head{
font-size:20px;
padding-top:16px;
padding-left:1px
}

.students_body_message{
width:90%;
margin-left:8%;
}

.students_left_inner{
padding-left:30px;

}

.body_message_image img{
width:140px;
height:142px;

}
.body_message_message{
font-size:14px
}

.body_message_message_inner{
padding:25px 10px
}

.students_body_photos{
padding:0px 0px;
width:90%;
margin-left:8%;
padding-bottom:10px
}

.students_learn_left{
font-size:21px;
width:100%;
line-height:1px;
padding-top:10px;

}

.students_learn_right{
width:100%;
margin-left:10px
}

.students_left_inner{
padding-left:20px;
padding-right:0px;
padding-top:10px;
padding-bottom:10px
}

.students_right_item{
width:32%;
padding-right:1px;
float:left
}

.learn_right_inner{
padding:26px 1px
}

#right_last{
margin-left:1.9px
}

.students_right_item_list{
font-size:13.5px;
}

.students_right_item_head{
font-size:16px
}

#right_first_heading{
margin-right:-3px
}
#right_middle_heading{
margin-left:0px
}
#right_last_heading{
margin-left:1px
}

.ufaber_footer_left{
width:100%;
min-height:100px;
margin-left:20%
}

.ufaber_footer_inner{
font-size:22px;
padding-top:30px;
padding-left:8px
}

.footer_lower_single img{
width:35px;
height:35px
}
.footer_lower_single{
width:37px;
margin-left:0px;
margin-right:14px
}

.ufaber_footer_right{
width:65%;
display:none
}

.ufaber_footer_right_inner{
width:50%;
font-size:14.5px
}

.footer_right_inner_head{
font-size:19px
}


}




